<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<script>
  (adsbygoogle = window.adsbygoogle || []).push({
     google_ad_client: "ca-pub-6717840198266056",
     enable_page_level_ads: true
  });
</script>

  <div class='profile_img_wrapper'>
    <a href="/ja/profiles/2405971/edit"><img class="profile_img", data-echo="https://d17ese100x1uvo.cloudfront.net/photos/2402739/ddaf63e97c6d1cf5e7d4c8b64f3c02abc1056a39/thumb.jpg?1524829450" src="https://d1gnxku736h7az.cloudfront.net/assets/loadings/missing_thumb_gray@2x-879e10168ed4ab25bd5114d683aba07c780ffd58480f2c29cf5b037dc54fe64f.png" alt="Missing thumb gray@2x 879e10168ed4ab25bd5114d683aba07c780ffd58480f2c29cf5b037dc54fe64f" />
    </a>
    <div class='name_box'>
      <p class='user_name'>
        user_name
      </p>
      <p class='user_introduction'>
        I'm studying English.
      </p>
    </div>
  </div>
<div class='profile-wrapper'>
  <div class='detailed_introduction_wrapper responsible_layout_block'>
    <div class='intro_list'>
      <div class='intro_tit intro_tit_native profile_label_lang'>
        <p class='d_inlineblock'>母語</p>
      </div>
      <div class='introduction_details language_native_table'>
        <p class='lang_parts'>
          日本語<span class='lang_level'>ネイティブ</span>
        </p>
      </div>
    </div>
    <div class='intro_list'>
      <div class='intro_tit intro_tit_study profile_label_lang'>
        <p class='d_inlineblock'>興味のある言語</p>
      </div>
      <div class='introduction_details language_study_table'>
        <a class='study_level_beginner_intermediate language_level_profiles_show' data-toggle='modal' href='#level_description' rel='nofollow'><span>英語 (アメリカ)</span>
        </a>
        <div class='lang_desc'>
          <p class='link_chroma'>
            <a class='link_chroma' data-toggle='modal' href='#level_description' rel='nofollow'>
              <span class='study_level_intermediate'></span>
              とは？
            </a>
          </p>
        </div>
      </div>
    </div>

    <div class='intro_list linked'>
      <div class='intro_tit intro_tit_earth'>
        <p class='d_inlineblock'>詳しい国や地域</p>
      </div>
      <div class='introduction_details'>
        日本
      </div>
    </div>
    <div class='intro_list linked country_table'>
      <div class='intro_tit intro_tit_earth'>
        <p class='d_inlineblock'>興味のある国や地域</p>
      </div>
      <div class='introduction_details'>
        <span>アメリカ</span>
      </div>
    </div>
    <form id="form5">
      <input id="sbox5" name="s" type="text" placeholder="質問を検索する" />
      <input id="sbtn5" type="submit" value="検索" />
    </form>
  </div>
  <%= render "shared/modal-help" %>
  <div class='modal fade' id='level_description' tabindex='-1'>
    <div class='modal-dialog modal-dialog_screen'>
      <div class='close_button_wrapper'>
        <a class='btn_close_circle' data-dismiss='modal'></a>
      </div>
    <div class='modal-content'>
      <h2 class='level_image'>
        とは？
      </h2>
      <p class='txt_desc'>
        興味ある言語のレベルを表しています。レベルを設定すると、他のユーザがあなたの質問に回答するときの参考にしてくれます。
      </p>
      <ul class='table_view intro_list'>
        <li class='intro_desc'>
          <p class='study_level_beginner'>初級</p>
          <span>この言語で回答されると理解できない。</span>
        </li>
        <li class='intro_desc'>
          <p class='study_level_beginner_intermediate'>初中級</p>
          <span>簡単な内容であれば理解できる。</span>
        </li>
        <li class='intro_desc'>
          <p class='study_level_intermediate'>中級</p>
          <span>少し長めの文章でもある程度は理解できる。</span>
        </li>
        <li class='intro_desc'>
          <p class='study_level_advanced'>上級</p>
          <span>長い文章や複雑な内容でもだいたい理解できる。</span>
        </li>
      </ul>
    </div>
  </div>
</div>
<div id='loading_overlay'>
<div class='indicator'></div>
</div>

<script src="https://d1gnxku736h7az.cloudfront.net/assets/application-0964bea776e7ebbd6cf2592101600a4cc8838f1eaff9eaf29a791abdf3606c53.js" data-turbolinks-track="true" data-turbolinks-eval="false"></script>

