.feedback_wrap
  #navi_container
  %a.feedback_modal{"data-target" => "#feedback_modal", "data-toggle" => "modal", :href => "#feedback_modal"}
    %i.icon.icon-help
    お困りですか？
  #feedback_modal.modal.fade{"aria-labelledby" => "feedback_modal_label", :role => "dialog", :tabindex => "-1"}
    .modal-dialog{:role => "document"}
      .close_button_wrapper
        %a.btn_close_circle{"data-dismiss" => "modal"}
      .modal-content.feedback_wrapper
        .modal-body
          %p.note
            HiNativeをご利用の上でわからないことはありますか？
          .list-group
            %a.list-group-item{:href => "/chats"}
              %span.issue
                自由に質問がしたい
            %a.list-group-item.js-linkto_modal
              %span.issue
                使い方を知りたい
          .list-group
            %a.list-group-item.item_single{:href => "https://hinative.helpshift.com/a/hinative/?l=ja", :target => "_blank"}
              その他（HiNative ヘルプページに飛びます）
              %i.icon-subwin
          .feedback_block{:ng_class => "{\"feedback_block_thanks\":isSent, \"feedback_block\":!isSent}", :ng_controller => "FeedbackCtrl"}
            .collapsible{:ng_show => "!isSent"}
              .page_collapsible{:ng_class => "{ \"collapse-close\":isClosed, \"collapse-open\":!isClosed }"}
                .mail.feedback_heading{:ng_cloak => ""}
                  %div{:ng_class => "{\"feedback_heading_thanks\":isSent, \"formheading\":!isSent }", :ng_click => "toggle()"}
                    %span.issue
                      %i.icon-help
                      問題を報告・その他のお問い合わせ
            .feedback_form{:ng_cloak => "", :ng_show => "!isClosed"}
              %ul
                %li
                  %form#feedback-form{"accept-charset" => "UTF-8", :action => "/ja/feedbacks", "data-remote" => "true", :method => "post", :ng_submit => "submit()"}
                    .w100.pb_10
                      .mb_10.mt_10
                        %p.mb_10
                          お問い合わせ内容を教えてください。
                        .select_body.select_large.select_icon_arrow_line_bottom
                          %select#type{:name => "type"}
                            %option{:value => "Bug report"} バグ報告
                            %option{:value => "Suggestion"} 提案
                            %option{:value => "Other"} その他
                      .mb_10
                        %textarea#auto-resize-area.text-fields.d_bloc{:maxlength => "1000", :name => "feedback", :ng_model => "content", :placeholder => "ご用件は何でしょうか？"}
                          :preserve
                      .mb_10.note_bg
                        営業日以外（土・日・日本の祝日・年末年始）にいただきましたお問い合わせは、翌営業日以降のご回答となりますのでご了承ください。
                        %br>/
                        お問い合わせの内容によりましては、お返事にしばらくお時間を頂戴する場合や回答を致しかねる場合がございます。
                      .text-right
                        %input.btn.btn-square{:name => "commit", :ng_class => "{ \"btn-disabled\":!submittable(), \"btn-primary\":submittable() }", :ng_disabled => "!submittable()", :type => "submit", :value => "送る"}/
            .feedback_thanks_wrap{:ng_cloak => "", :ng_show => "isSent"}
              .feedback_thanks_block
                .balloon_thanks
                  ご意見ありがとうございました。
                .mt_10.note_bg
                  営業日以外（土・日・日本の祝日・年末年始）にいただきましたお問い合わせは、翌営業日以降のご回答となりますのでご了承ください。
                  %br>/
                  お問い合わせの内容によりましては、お返事にしばらくお時間を頂戴する場合や回答を致しかねる場合がございます。
