<div class='feedback_wrap'>
<div id='navi_container'></div>
<a class='feedback_modal' data-target='#feedback_modal' data-toggle='modal' href='#feedback_modal'>
<i class='icon icon-help'></i>
お困りですか？
</a>
<div aria-labelledby='feedback_modal_label' class='modal fade' id='feedback_modal' role='dialog' tabindex='-1'>
<div class='modal-dialog' role='document'>
<div class='close_button_wrapper'>
<a class='btn_close_circle' data-dismiss='modal'></a>
</div>
<div class='modal-content feedback_wrapper'>
<div class='modal-body'>
<p class='note'>
HiNativeをご利用の上でわからないことはありますか？
<div class='list-group'>
<a class="list-group-item" href="/chats"><span class='issue'>
自由に質問がしたい
</span>
</a>
<a class='list-group-item js-linkto_modal'>
<span class='issue'>
使い方を知りたい
</span>
</a>
</div>
<div class='list-group'>
<a class="list-group-item item_single" target="_blank" href="https://hinative.helpshift.com/a/hinative/?l=ja">その他（HiNative ヘルプページに飛びます）
<i class='icon-subwin'></i>
</a></div>
</p>
<div class='feedback_block' ng_class='{"feedback_block_thanks":isSent, "feedback_block":!isSent}' ng_controller='FeedbackCtrl'>
<div class='collapsible' ng_show='!isSent'>
<div class='page_collapsible' ng_class='{ "collapse-close":isClosed, "collapse-open":!isClosed }'>
<div class='mail feedback_heading' ng_cloak>
<div ng_class='{"feedback_heading_thanks":isSent, "formheading":!isSent }' ng_click='toggle()'>
<span class='issue'>
<i class='icon-help'></i>
問題を報告・その他のお問い合わせ
</span>
</div>
</div>
</div>
</div>
<div class='feedback_form' ng_cloak ng_show='!isClosed'>
<ul>
<li>
<form id="feedback-form" class="" ng_submit="submit()" action="/ja/feedbacks" accept-charset="UTF-8" data-remote="true" method="post">
<div class='w100 pb_10'>
<div class='mb_10 mt_10'>
<p class='mb_10'>
お問い合わせ内容を教えてください。
</p>
<div class='select_body select_large select_icon_arrow_line_bottom'>
<select name="type" id="type"><option value="Bug report">バグ報告</option>
<option value="Suggestion">提案</option>
<option value="Other">その他</option></select>
</div>
</div>
<div class='mb_10'>
<textarea name="feedback" id="auto-resize-area" placeholder="ご用件は何でしょうか？" maxlength="1000" class="text-fields d_bloc" ng_model="content">
</textarea>
</div>
<div class='mb_10 note_bg'>
営業日以外（土・日・日本の祝日・年末年始）にいただきましたお問い合わせは、翌営業日以降のご回答となりますのでご了承ください。<br>お問い合わせの内容によりましては、お返事にしばらくお時間を頂戴する場合や回答を致しかねる場合がございます。
</div>
<div class='text-right'>
<input type="submit" name="commit" value="送る" class="btn btn-square" ng_class="{ &quot;btn-disabled&quot;:!submittable(), &quot;btn-primary&quot;:submittable() }" ng_disabled="!submittable()" />
</div>
</div>
</form>

</li>
</ul>
</div>
<div class='feedback_thanks_wrap' ng_cloak ng_show='isSent'>
<div class='feedback_thanks_block'>
<div class='balloon_thanks'>
ご意見ありがとうございました。
</div>
<div class='mt_10 note_bg'>
営業日以外（土・日・日本の祝日・年末年始）にいただきましたお問い合わせは、翌営業日以降のご回答となりますのでご了承ください。<br>お問い合わせの内容によりましては、お返事にしばらくお時間を頂戴する場合や回答を致しかねる場合がございます。
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>

</div>
