
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.12/css/all.css" integrity="sha384-G0fIWCsCzJIMAVNQPfjH08cyYaUtMwjJwqiRKxxE/rx96Uroj1BtIQ6MLJuheaO9" crossorigin="anonymous">
  <div class="chats_main">
    <div class="chats_main_head">
      <p>チャット画面</p>
    </div>
    <div class="chats_main_inner">
      <div class="message">
        <ul class="messages">
          <li class="messages__list">
            <span class="messages__name">
              名前
            </span>
            <span class="messages__date">
              時間
            </span>
          </li>
          <li class="messages__list">
              <span class="messages__list__message">
                メッセージ内容
              </span>
          </li>
        </ul>
        <ul class="messages">
          <li class="messages__list">
            <span class="messages__name">
              名前
            </span>
            <span class="messages__date">
              時間
            </span>
          </li>
          <li class="messages__list">
              <span class="messages__list__message">
                メッセージ内容
              </span>
          </li>
        </ul>
      </div>
    </div>
    <div class="form">
      <div class="form__inner">
        <div class="form__textArea">
          <input type="text" name="name">
          <div class="form__mask">
            <label class="form__mask__image" for="message_image">
              <i class="fas fa-image"></i>
            <input class="hidden" type="file" name="" id="message_image" />
            </label>
          </div>
          <div class="form__mask">
            <label class="" for="message_audio">
            <i class="fas fa-file-audio"></i>
            <input class="hidden" type="file" name="" id="message_audio" />
            </label>
          </div>
        </div>
        <input class="submitBtn" type="submit" value="送信">
      </div>
    </div>
  </div>

