%link{:crossorigin => "anonymous", :href => "https://use.fontawesome.com/releases/v5.0.12/css/all.css", :integrity => "sha384-G0fIWCsCzJIMAVNQPfjH08cyYaUtMwjJwqiRKxxE/rx96Uroj1BtIQ6MLJuheaO9", :rel => "stylesheet"}/
.chats_main
  .chats_main_head
    %p チャット画面
  .chats_main_inner
    .message
      %ul.messages
        %li.messages__list
          %span.messages__name
            名前
          %span.messages__date
            時間
        %li.messages__list
          %span.messages__list__message
            メッセージ内容
      %ul.messages
        %li.messages__list
          %span.messages__name
            名前
          %span.messages__date
            時間
        %li.messages__list
          %span.messages__list__message
            メッセージ内容
  .form
    .form__inner
      .form__textArea
        %input{:name => "name", :type => "text"}/
        .form__mask
          %label.form__mask__image{:for => "message_image"}
            %i.fas.fa-image
            %input#message_image.hidden{:name => "", :type => "file"}/
        .form__mask
          %label{:for => "message_audio"}
            %i.fas.fa-file-audio
            %input#message_audio.hidden{:name => "", :type => "file"}/
      %input.submitBtn{:type => "submit", :value => "送信する"}/
