.navbar {
  height: 50px;
  width: 100%;
  background-color: #1C1C1C;
}
.nav_listgroup {
  position: flex;
}
.login_buttons {
  margin-top: 10px;
  margin-bottom: 6px;
  height: 28px;
  width: 160px;
  display: flex;
  float: right;
}
.btn-square2 {
  font-size: 14px;
  text-align: center;
  line-height: 28px;
  width:70px;
  height:28px;
  border-radius: 2px;
  color: white;
  text-decoration: none;
}
.btn_bordered_white {
  border-style: solid;
  border-color: white;
  border-width: thin;
  margin-right: 10px;
  float: right;
}
.btn-primary2 {
  background-color: #FF4E00;
  margin-right: 10px;
  float: right;
}

// -------------------------------

.login-word{
  border-bottom: 1px solid LightGray;
  padding-bottom: 12px;
  margin-bottom: 20px;
}
.page-container {
  min-width: 620px;
  margin: 0 auto;
}
.main {
  padding-top: 30px;
  width: 620px;
  margin: 0 auto;
}
.section {
  padding: 10px;
  text-align: left;
}
.field {
  margin-bottom: 20px;
}
.field-label {
  margin-bottom: 15px;
}
input[type="text"] {
        width: 560px;
        height: 40px;
        border:solid 2px LightGray;
        border-radius: 5px;
        font-size: 18px;
}
input[type="email"] {
        width: 560px;
        height: 40px;
        border:solid 2px LightGray;
        border-radius: 5px;
        font-size: 18px;
}
input[type="password"] {
        width: 560px;
        height: 40px;
        border:solid 2px LightGray;
        border-radius: 5px;
        font-size: 18px;
}
.submit-btn {
    display: inline-block;
    font-size: 18px;
    color: white;
    height: 44px;
    padding: 0 20px;
    line-height: 44px;
    letter-spacing: 1px;
    text-align: center;
    background-color: #FF4E00;
    border-radius: 5px;
    margin: 10px 0;
  }
